[[source]]es
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-heroku = "*"
gunicorn = "*"
python-decouple = "*"
requests-oauthlib = "*"
jsonfield = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
