[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-heroku = "*"
python-decouple = "*"
requests-oauthlib = "*"
jsonfield = "*"
django-bootstrap4 = "*"
channels = "*"
channels-redis = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
