a.navbar-link {
    color: white;
}


h2 {
    margin-bottom: 25px;
}

.footer-container {
    position: relative;
    min-height: 100vh;
}

.page {
    padding-bottom: 110px; /* Footer height plus padding */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 80px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
