{% extends '_base.html' %}
{% load static %}
{% block css %}
    <style>
        .login {
            display: block;
            text-indent: -9999px;
            width: 300px;
            height: 58px;
            background-repeat: no-repeat;
            background-image: url({% static 'img/login.svg' %});
            background-size: contain;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container jumbotron">
        <h1>System zarządzania audiencją u Pana Walczyńskiego</h1>
        <p class="lead">Zautomatyzowane obsługiwanie błagalników</p>
        <hr class="my-4">
        <p>Aktualnie kolejka liczy <b>{{ queue_length }} oczekujących. Szacowany czas oczekiwania na połączenie to {{ estimated_time }} minut.</b></p>
        <br>
        <p>Aby zamówić rozmowę (stanąć w kolejce), zaloguj się kontem Microsoft Teams:
        <a href="{% url 'login' %}" role="button" class="btn login" style="margin: 0 5%; transform: translate(-5%, 0);">
            Login with Microsoft
        </a></p>
        {#        <div class="row"><a class="btn" href="{% url 'login' %}" role="button" style="margin:  40px auto"> <img#}
        {#                src="{% static 'img/login.svg' %}"#}
        {#                alt="Login with Microsoft"></a>#}
        {#        </div>#}
    </div>
{% endblock %}