{% extends '_base.html' %}
{% block title %}
    Potwierdzenie
{% endblock %}
{% block content %}
    {% if request.GET.cleared %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Sorki!</strong> Pan Walczyński wyczyścił kolejkę.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container jumbotron">
        <h1>Chcesz stanąć w kolejce?</h1>
        <p class="lead">Zamawianie połączenia na Teamsach od Pana Walczyńskiego</p>
        <hr class="my-4">
        <img src="https://media1.tenor.com/images/9c05104503e8435917e90ad7de81b758/tenor.gif?itemid=8208624">
        <br/><br/>
        <a href="{% url 'create' %}" type="button" class="btn btn-success">Zamawiam rozmowę</a>
        <a href="{% url 'logout' %}" type="button" class="btn btn-danger">Wyloguj</a>
        <br/><br/>
        <p>Jeśli <b>już zakończyłeś rozmowę</b>, możesz spokojnie zamknąć to okno.</p>

    </div>
{% endblock %}