{% extends '_base.html' %}
{% load static %}
{% block title %}
    {% if queue_position == 0 %}
        POŁĄCZENIE!!!
    {% else %}
        {{ queue_position }}. w kolejce
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container jumbotron">
        {% if queue_position == 0 %}
            <h1>Twoja kolej!</h1>
            <p class="lead">Odbierz połączenie na Teamsach. Możesz zamknąć to okno. </p>
            <hr class="my-4">
            <img src="https://i.pinimg.com/originals/7b/f8/70/7bf870a9b86ae6c6297b0eb6611a120d.gif">
        {% else %}
            <h1>Jesteś <b>{{ queue_position }}.</b> w kolejce.</h1>
            <p class="lead">Szacowany czas oczekiwania na połączenie
                to <b>{{ estimated_time }}</b> minut.</p>
        {% endif %}
        {% if queue_position != 0 %}
            <hr class="my-4">
            <p>Pan Walczyński zadzwoni do ciebie na Teamsach. Przygotuj swój kod i niezbędne materiały, aby rozmowa
                przebiegła
                jak najpłynniej.</p>
            <img src="https://media0.giphy.com/media/QBd2kLB5qDmysEXre9/giphy.gif" alt="gif">
            <p>Dane aktualizowane co 5 sekund.</p>
            <a href="{% url 'cancel' %}" type="button" class="btn btn-danger">Anuluj prośbę o połączenie </a>
            <br/><br/>
            <a href="https://www.youtube.com/watch?v=DLzxrzFCyOs" target="_blank">Muzyka na czekanie</a>

        {% endif %}
    </div>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'js/student.js' %}"></script>
{% endblock %}