{% extends '_base.html' %}
{% block title %}
    {% if queue_position == 0 %}
        POŁĄCZENIE!!!
    {% else %}
        Oczekiwanie...
    {% endif %}
{% endblock %}
{% block meta %}
 <meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}
    <div class="container jumbotron">
        <h1>Jesteś <b>{{ queue_position }}.</b> w kolejce.</h1>
        <p class="lead">Szacowany czas oczekiwania na połączenie
            to <b>{{ estimated_time }}</b> minut.</p>
        <hr class="my-4">
        <p>Pan Walczyński zadzwoni do ciebie na Teamsach. Przygotuj swój kod i niezbędne materiały, aby rozmowa przebiegła jak najpłynniej.</p>
        <p>Dane aktualizowane co 5 sekund.</p>
        <br>
        <a href="https://www.youtube.com/watch?v=DLzxrzFCyOs" target="_blank">Muzyka na czekanie</a>
        {#        <div class="row"><a class="btn" href="{% url 'login' %}" role="button" style="margin:  40px auto"> <img#}
        {#                src="{% static 'img/login.svg' %}"#}
        {#                alt="Login with Microsoft"></a>#}
        {#        </div>#}
    </div>

{% endblock %}