{% extends '_base.html' %}
{% load teacher_view_tags %}
{% load static %}
{% block title %}
    Zarządzanie
{% endblock %}
{% block css %}
    <style>
        .list-group {
            max-width: 80%;
            margin: 30px auto;
        }

        .row {
            max-width: 80%;
            margin: 30px auto !important;
        }

        .flying-bullet {
            margin-left: -50px;
            color: #0c5460;
            position: absolute;
        }

        .green {
            color: green;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron container">
        <h1 class="display-5">Lista błagalników:</h1>
        <h6>Na audiencję oczekuje jeszcze <span class="js-length">{{ queue|length }}</span> uczniów.</h6>
        <ul class="list-group js-list">
            {% for ticket in queue|get3 %}
                {% if forloop.first %}
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                        <i class="far fa-hand-point-right fa-lg flying-bullet"></i>
                        <span>
                            <a href="callto:{{ ticket.user.principal_name }}">{{ ticket.user.display_name }}</a>
                            <span id="timer"></span>
                        </span>
                        <a href="{% chat_deep_link object ticket.user %}"
                           target="_blank" style="margin-left: 50px"><i class="far fa-comment-dots fa-lg green"></i></a>
                    </li>
                {% else %}
                    <li class="list-group-item  d-flex justify-content-between align-items-center">
                        {{ ticket.user.display_name }}
                        <a href="{% chat_deep_link object ticket.user %}"
                           target="_blank" style="margin-left: 50px"><i class="far fa-comment-dots fa-lg"></i></a></li>
                {% endif %}
            {% endfor %}
            {% if queue|length > 4 %}
                <li class="list-group-item">... i <b><span class="js-length-3">{{ queue|sub3 }}</span></b> więcej</li>
            {% endif %}
        </ul>
        <div class="row">
            <button type="button" class="btn btn-outline-danger {% if queue|length == 0 %}disabled{% endif %}"
                    {% if queue|length > 0 %}data-toggle="modal" data-target="#exampleModal" {% endif %}
                    style="width: 48%; margin-right: auto">Zresetuj kolejkę
            </button>
            <a href="{% url 'next' %}" type="button"
               class="btn btn-primary {% if queue|length == 0 %}disabled{% endif %}"
               style="width: 48%; margin-left: auto">
                <i class="fas fa-forward" style="margin-right: 10px"></i>
                Koniec rozmowy (następny uczeń)
            </a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zresetuj kolejkę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Czy usunąć wszystkich oczekujących błagalników z kolejki?
                        Decyzja jest nieodwracalna i potencjalnie niebezpieczna.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Jeszcze nie
                        </button>
                        <a href="{% url 'clear' %}" type="button" class="btn btn-danger">Zresetuj wszystkich</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="https://kit.fontawesome.com/6cfdb01cc0.js" crossorigin="anonymous"></script>
    <script>
        var startedAt = new Date("{{ startedAt }}");
        var queue_length = {{ queue|length }};
        var teacher_principal_name = "{{ object.principal_name }}";
    </script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'js/teacher.js' %}"></script>
{% endblock %}