{% extends '_base.html' %}
{% load deep_links %}
{% block css %}
    <style>
        .list-group {
            max-width: 80%;
            margin: 30px auto;
        }

        .row {
            max-width: 80%;
            margin: 30px auto;
        }

        .flying-bullet {
            margin-left: -50px;
            color: #0c5460;
            position: absolute;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron container">
        <h1 class="display-5">Lista błagalników:</h1>
        <h6>Na audiencje oczekuje {{ queue|true_length }} uczniów</h6>
        <ul class="list-group">
            {% for ticket in queue|get3 %}
                {% if forloop.first %}
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                        <i class="far fa-hand-point-right fa-lg flying-bullet"> </i>
                        <a href="callto:{{ ticket.user.principal_name }}">{{ ticket.user.display_name }}</a>
                        <a href="{% chat_deep_link object ticket.user %}"
                           target="_blank" style="margin-left: 50px"><i class="far fa-comment-dots fa-lg"></i></a>
                    </li>
                {% else %}
                    <li class="list-group-item  d-flex justify-content-between align-items-center"">
                    {{ ticket.user.display_name }}
                    <a href="{% chat_deep_link object ticket.user %}"
                       target="_blank" style="margin-left: 50px"><i class="far fa-comment-dots fa-lg"></i></a></li>
                {% endif %}
            {% endfor %}
            {% if queue|length > 4 %}
                <li class="list-group-item">... i <b>{{ queue|sub3 }}</b> więcej</li>
            {% endif %}
        </ul>
        <div class="row">
            <button type="button" class="btn btn-outline-danger {% if queue|length == 0 %}disabled{% endif %}"
                    {% if queue|length > 0 %}data-toggle="modal" data-target="#exampleModal" {% endif %}
                    style="width: 48%; margin-right: auto">Wyczyść kolejkę
            </button>
            <a href="{% url 'next' %}" type="button"
               class="btn btn-primary {% if queue|length == 0 %}disabled{% endif %}"
               style="width: 48%; margin-left: auto">
                <i class="fas fa-forward" style="margin-right: 10px"></i> Następny uczeń
            </a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wyczyść kolejkę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Czy usunąć wszystkich oczekujących błagalników z kolejki?
                        Decyzja jest nieodwracalna i potencjalnie niebezpieczna.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Jeszcze nie
                        </button>
                        <a href="{% url 'clear' %}" type="button" class="btn btn-danger">Wyczyść wszystkich</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6cfdb01cc0.js" crossorigin="anonymous"></script>
{% endblock %}